<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
<string>앱이 음성 녹음을 위해 마이크를 사용합니다.</string>
	<key>API_KEY</key>
	<string>AIzaSyAkeQshvX4vEkg4ELK-Wygh3Tjs_exNuQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>741866985637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sic.outmate</string>
	<key>PROJECT_ID</key>
	<string>sicapp-ad8de</string>
	<key>STORAGE_BUCKET</key>
	<string>sicapp-ad8de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741866985637:ios:306fe0fe316f345a26d54c</string>
	<key>DATABASE_URL</key>
	<string>https://sicapp-ad8de-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>